
/INFORMES

/PDFautomat/INPUT
/PDFautomat/MERCADONA_BANCO_SI
/PDFautomat/MERCADONA_BANCO_NO
/PDFautomat/LIDL_SI
/PDFautomat/LIDL_NO
/PDFautomat/*.xlsx
.DS_Store
/PDFautomat/*.json
/PDFautomat/MAKRO_NO
/PDFautomat/MAKRO_SI
/PDFautomat/TICKETS_MERCADONA_UNREAD
/PDFautomat/TICKETS_MERCADONA_READ_8305
/PDFautomat/TICKETS_MERCADONA_READ_8313
/PDFautomat/TICKETS_MERCADONA_READ_REST

